@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* defining variables */
:root {
    --mainColor: #00aaff;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f3f3f3;
    font-family: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    max-width: 500px;
    padding-top: 54px;
}

h1,
h2,
h3 {
    width: 100%;
    box-sizing: border-box;
}

/* header design  */
header {
    display: flex;
    background-color: #ffffff;
    border-bottom: 2px solid #e5e5e5;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#hamMenu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

#hamMenu span {
    display: block;
    width: 20px;
    background-color: #000;
    height: 2px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.close :nth-child(1) {
    position: relative;
    transform: rotateZ(45deg);
    top: 7px;
}

.close :nth-child(2) {
    position: relative;
    transform: translateX(200px);
}

.close :nth-child(3) {
    position: relative;
    transform: rotateZ(-45deg);
    top: -7px;
}

/* when menu appears */
#menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 100%;
    background-color: #fffdfb;
    justify-content: center;
    align-items: center;
    display: none;
    /* initially hiding menu  */
    flex-direction: column;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

#menu li {
    color: #000;
    cursor: pointer;
}

#menu li:hover {
    color: var(--mainColor);
}



/* main body design  */

main {
    width: 100%;
}

/* Home section  */

#home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#heroImg {
    width: 85%;
    border-radius: 20px;
    margin-top: 20px;
}

#heroBlur {
    width: 200%;
    height: 150px;
    position: relative;
    bottom: 100px;
    background-color: #f3f3f3;
    filter: blur(20px);
}

#heroTitle {
    position: relative;
    bottom: 200px;
    font-size: 14px;
    width: unset;
}

#heroTitle :nth-child(1) {
    display: block;
    font-family: 'comic sans ms', 'comic sans', 'comic neue', cursive, sans-serif;
    font-size: 40px;
    color: var(--mainColor);
    text-shadow: 0 0 10px #00aaff92;
}

#heroTitle :nth-child(2) {
    display: block;
    text-align: right;
}

#bgBlurDecorator {
    height: 100px;
    width: 100px;
    z-index: -1;
    background-color: var(--mainColor);
    border-radius: 50%;
    position: absolute;
    top: 100px;
    filter: blur(70px);
}

.card {
    height: 100px;
    width: 75%;
    max-width: 400px;
    position: absolute;
    background-color: #00aaff20;
    box-shadow: inset 0 0 10px #00aaff48;
    border-radius: 20px;
    z-index: -1;
    top: 60px;
}

h2 {
    color: #203e4d;
    align-self: flex-start;
    padding: 15px 0 10px 10px;
}

h3 {
    color: #203e4d;
    align-self: flex-start;
    padding: 5px 0 10px 10px;
}

/* card design  */

#home h2 {
    padding-bottom: 0;
}

.cardStyle1 {
    background-color: #fcfcfc;
    border: 2px solid #e8e8e8;
    width: 90%;
    padding: 5px 5px 10px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    margin-top: 20px;
}

.cardStyle1 img {
    border-radius: 10px;
}

.cardStyle1 .varg {
    font-weight: 500;
    color: var(--mainColor);
    margin-left: 5px;
}

.cardStyle1 .readMore {
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--mainColor);
    padding: 5px 15px;
    border-radius: 50px;
    width: max-content;
    align-self: end;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    
}

.cardStyle1 .readMore a {
    color: var(--mainColor);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStyle1 .readMore:hover a {
    color: #fff;
}

.cardStyle1 .readMore::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--mainColor);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.cardStyle1 .readMore:hover::before {
    left: 0;
}

.cardStyle1 .cardDescription {
    padding: 0 5px;
}

#homeNavContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;
}

#homeNavContainer li {
    padding: 5px;
    background-color: #fcfcfc;
    border: 2px solid #e8e8e8;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#homeNavContainer li:hover {
    background-color: #fafafa;
}

#homeNavContainer li p {
    font-size: 14px;
}



/* initially hiding the other sections */
#members,
#achievements,
#syllabus,
#aboutQuiz,
#aboutWebsite,
#aboutShashikant {
    display: none;
}


/* Members section  */
#members {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#members h3 {
    margin-top: -60px;
}

.memberCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    border: 2px solid #e8e8e8;
    width: 90%;
    border-radius: 10px;
    padding: 60px 10px 10px 10px;
    box-sizing: border-box;
}

.memberCard img {
    width: 100px;
    border-radius: 100px;
    border: 5px solid #f3f3f3;
    position: absolute;
    top: -50px;
}

.wrapperInsideMemberCard {
    align-self: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memberCard .memberCardName {
    font-weight: bold;
    color: var(--mainColor);
}

.memberCard .memberCardList {
    align-self: flex-start;
    list-style-type: none;
}

.memberCard .memberCardList li .memberCardLiTitle {
    font-weight: bold;
    color: var(--mainColor);
}

.memberCard+h3 {
    padding-top: 20px;
}


/* Past records section  */
#achievements {
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#achievements h3+p {
    font-style: italic;
    color: #203e4d;
    font-size: small;
    align-self: self-start;
    padding: 0 10px;
    margin-top: -20px;
}

.teachers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    box-sizing: border-box;
}

.teachersCard {
    position: relative;
}

.teachersCard img{
    height: 220px;
    border-radius: 20px;
    position: relative;
}

.teachersCard span {
    background-image: linear-gradient(to top, #f3f3f3, #f3f3f3df, #00000000);
    height: 100px;
    border-radius: 0 20px 20px 0;
    display: block;
    position: absolute;
    bottom: 0;
    display: flex;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-weight: 600;
    color: #203e4d;
}

h2+h3 {
    margin-top: -20px;
}

.historyCard+h3 {
    margin-top: 30px;
}

.historyCard {
    position: relative;
    overflow: hidden;
    background-color: #fcfcfc;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    width: 90%;
    z-index: 0;
}

.historyCard::before {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -10px;
    width: 100px;
    height: 100px;
    z-index: -1;
    rotate: 20deg;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.goldCard::before {
    background-image: url("resources/gold_medal.jpg");
    opacity: 0.2;
}

.silverCard::before {
    background-image: url("resources/silver_medal.jpg");
    opacity: 0.3;
}

.bronzeCard::before {
    background-image: url("resources/bronze_medal.jpg");
    opacity: 0.17;
}

.historyImg {
    width: 100%;
}

.historyList {
    margin: 0 10px 10px 10px;
    list-style-type: none;
}

.historyLiTitle {
    color: var(--mainColor);
    font-weight: bold;
}

.historyMembersName {
    margin-left: 10px;
    list-style-position: inside;
    list-style-type: disc;
}




/* Syllabus section  */
#syllabus {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session {
    font-size: 16px;
}

.syllabusUl {
    width: 90%;
    margin-left: 10%;
    box-sizing: border-box;
}

#syllabus .info {
    font-style: italic;
    color: #203e4d;
    font-size: small;
    align-self: self-start;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.pdfDownload {
    margin-top: 20px;
    background-color: var(--mainColor);
    border: none;
    color: #fff;
    padding: 7px 15px;
    border-radius: 100px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.pdfDownload:hover {
    background-color: #2eb9ff;
}

.downloadIcon {
    display: inline-block;
    font-size: 20px;
    background-color: #fff;
    color: var(--mainColor);
    padding: 5px;
    width: 40px;
    border-radius: 80px;
}


/* About Quiz Section */
#aboutQuiz {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 0 10px;
}

.rulesUl {
    margin: 0 30px;
}


/* About Website Section  */
#aboutWebsite {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#creatorShashikant {
    background-color: var(--mainColor);
    color: #fff;
    width: 150px;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}


/* About Shashikant Section  */
#aboutShashikant {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.meProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.meProfile img {
    width: 90px;
    border-radius: 50px;
}

.meName {
    font-weight: bold;
    color: var(--mainColor);
}

.meDescription {
    font-style: italic;
    color: #203e4d;
    font-size: small;
    align-self: self-start;
}

#aboutShashikant h3 {
    font-size: medium;
    margin-bottom: 0;
}

.meGeneralInfo ul {
    padding: 0 5%;
    list-style-type: none;
}

.meGeneralInfo ul li :nth-child(1) {
    color: var(--mainColor);
    font-weight: bold;
}

.meConnect {
    width: 100%;
}

.meConnect ul {
    padding: 0 5%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meConnect ul li {
    position: relative;
    background-color: #fcfcfc;
    border: 2px solid #e8e8e8;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.meConnect ul li::before {
    content: '';
    height: 50%;
    width: 4px;
    background-color: var(--mainColor);
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.meConnect ul a {
    color: #000;
    text-decoration: none;
}

.meConnect ul li .icon {
    display: flex;
    font-size: 30px;
}

.meConnect ul li img {
    height: 25px;
    padding: 2.5px;
}


/* footer  */
footer {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid #e5e5e5;
    padding: 5px 0;
}

footer span {
    cursor: pointer;
}